body {
  font-size: 15px;
  line-height: 21px;
}

h1, h2, h3, h4, h5, h6 {
  color: #004C00;
}

h1 {
  font-size: 1.6em;
  margin: 20px 0 0 0;
}

p {
  margin: 4px 0;
}

button {
  font-size: 13px;
}

code {
  padding: 2px 4px;
  font-size: 80%;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #357ae8;
}

.small {
  font-size: 12px;
  line-height: 14px;
  color: #000;
  border-left: 3px solid rgb(37, 105, 16);
  margin: 10px 0;
  padding-left: 10px
}

#help {
  background-color: #eee;
  padding: 10px;
  text-align: center;
}

.help {
  color: #a94442;
}

.warning {
  color: #a94442;
  font-style: italic;
  font-weight: bold;
}

.msg {
  padding: 10px;
  margin-bottom: 10px;
}

.msg-success {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

.msg-warning {
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
}

.msg-error {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}

.msg-information {
  background-color: #eee;
}

.step {
  display: inline-block;
  border: 4px solid #FF4E00;
  border-radius: 100px;
  color: #004C00;
  padding: 10px;
  width: 20px;
  text-align: center;
}

.form-options {
  background-color: #eee;
  padding: 20px;
}

.form-group {
  position: relative;
  left: -10px;
  padding: 10px;
}

.form-group.error {
  color: black;
  background-color: rgba(255, 0, 0, 0.35);
}

#errorDisplay {
  color: #a94442;
  font-style: italic;
  font-size: 12px;
  display: none;
}

.assignment h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.comfy {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: inside;
}

.comfy li {
  padding: 22px;
  border-bottom: 20px solid #fff;
  background-color: #eee;
}

.comfy li:last-of-type {
  border-bottom: 10px solid #fff;
}

.comfy input[type="text"] {
  width: 60%;
}

.highlight {
  background-color: #A8CC9C;
  padding: 2px 20px;
  margin-bottom: 16px;
}

.btn-bar > input {
  margin: 10px;
}


/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

.tooltip-right:before {
  top: 3px;
}

.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}